:root {
	--prim-clr: #418bd0;
}

.container h1 {
	color: var(--prim-clr);
	font-family: impact;
}

main {
	min-height: 70vh !important;
}

/*   buttons  */
.bg-primary {
	background-color: #418bd0 !important;
}

.btn-outline-primary {
	--bs-btn-color: #6597c6;
	--bs-btn-border-color: #418bd0;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #306698;
	--bs-btn-hover-border-color: #306698;
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #4894dc;
	--bs-btn-active-border-color: #4894dc;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #6996c0;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #6996c0;
	--bs-gradient: none;
}
